<div class="container pt-4 pb-4">
  <h1 class="text-center"> Trade </h1>
  <div class="container d-flex align-items-center flex-wrap justify-content-center mb-5">
    <% @my_trade_pokemons.each do |my_pokemon| %>
      <div class="card col-3 d-flex flex-column mt-5 mb-3">
        <div class="picture">
          <%= image_tag(my_pokemon.pokemon.image_url) %>
        </div>
        <div class="content d-flex">
          <div class="col">
            <%= my_pokemon.pokemon.name %>
          </div>
          <div class="col d-flex justify-content-end">
            <span>
                <%= my_pokemon.pokemon.type_1 %>
            </span>
            <% unless my_pokemon.pokemon.type_2.nil? %>
              <span>
                <%= my_pokemon.pokemon.type_2 %>
              </span>
            <% end %>
          </div>
        </div>
        <%= simple_form_for my_pokemon do |f| %>
          <%= hidden_field_tag :other_pokemon_id, @other_pokemon_id %>
          <%= f.submit "trade", class: "btn btn-primary w-100 mt-2 rounded-pill" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
