<%# @my_trade_pokemons.each do |my_pokemon| %>
    <%#= my_pokemon.pokemon.name %>
    <%#= image_tag my_pokemon.pokemon.image_url %>
    <%#= simple_form_for my_pokemon do |f| %>
      <%#= hidden_field_tag :other_pokemon_id, @other_pokemon_id %>
      <%#= f.submit "trade", class: "btn btn-primary" %>
    <%# end %>
<%# end %>

<div class="container pt-4">
  <h1 class="text-center"> Pokedex </h1>
  <div class="container d-flex align-items-center flex-wrap justify-content-center">

  <% @my_trade_pokemons.each do |my_pokemon| %>
    <div class="card col-3 d-flex flex-column mt-5">
      <div class="picture">
        <%= image_tag(my_pokemon.pokemon.image_url) %>
      </div>
      <div class="content d-flex">
        <div class="col">
          <%= my_pokemon.pokemon.name %>
        </div>
        <div class="col d-flex justify-content-end">
          <span>
              <%= my_pokemon.pokemon.type_1 %>
          </span>
          <% unless my_pokemon.pokemon.type_2.nil? %>
            <span>
              <%= my_pokemon.pokemon.type_2 %>
            </span>
          <% end %>
        </div>
      </div>
    <%= link_to "trade", edit_my_pokemon_path(my_pokemon), class: "btn btn-primary w-100 my-3 rounded-pill" %>
    </div>
  <% end %>
  </div>
</div>
